*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(17, 17, 31, .77), rgba(17, 17, 31, .77)), url(/image/pexels-ray-bilcliff-2055389.jpg);
    background-size: cover;
}
.hello {
    width: 100%;
    height: 100vh;
    position: relative;
}
.hello h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 550;
    font-size: 90px;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.search-container{
    position: relative;
    width: 550px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
#search-icon{
    height: 12px;
    width: 12px;
    margin: 20px;
}
.search-container input{
    border: none;
    background-color:transparent;
    width: 400px;
    height: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}
.navbar img{
    width: 32px;
    height: 32px;
    margin: 10px;
}
#menu{
    width: 25px;
    height: 25px;
}
#user{
    padding: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}
.upper-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upper-content ul li {
    display: inline-block;
    list-style-type: none;
}
.upper-content ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    font-size: 12px;
}
.reading{
    border-left: 1px solid white;
    padding-left: 10px;
}
.reading h4{
    color: rgb(134, 134, 134);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    justify-content: flex-end;
}
.shortcuts{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.first-row, .second-row {
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    left: -25px;
    transform: translate(50%, -50%);
}
.First-shortcut, .Second-shortcut, .Third-shortcut, .Fourth-shortcut, .Fifth-shortcut, .Sixth-shortcut{
    display: block;
    height: 90px;
    width: 120px;
}
.First-shortcut img {
    background-color: rgb(43, 43, 43);
    height: 32px;
    width: 35px;
    padding: 3px;
    border-radius: 50px;
}
.Second-shortcut img {
    background-color: rgb(43, 43, 43);
    height: 32px;
    width: 35px;
    padding: 3px;
    border-radius: 50px;
}
.Third-shortcut img {
    background-color: rgb(43, 43, 43);
    height: 32px;
    width: 35px;
    padding: 3px;
    border-radius: 50px;
}
.Fourth-shortcut img {
    background-color: rgb(43, 43, 43);
    height: 32px;
    width: 35px;
    padding: 3px;
    border-radius: 50px;
}
.Fifth-shortcut img {
    background-color: rgb(43, 43, 43);
    height: 32px;
    width: 35px;
    padding: 3px;
    border-radius: 50px;
}
.Sixth-shortcut img {
    background-color: rgb(43, 43, 43);
    height: 32px;
    width: 35px;
    padding: 3px;
    border-radius: 50px;
}
p{
    align-items: flex-end;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}